@page
@model RazorPagesFeladat.Pages.ÖsszesítesModel
@{
    ViewData["Title"] = "Összesítes";
}

<h1>Összesítes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Település</th>
            <th>Barlangok száma</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Osszesites)
    {
        <tr>
            <td>@item.Telepules</td>
            <td>@item.BarlangokSzama</td>
        </tr>
    }
    </tbody>
</table>
